<app-header></app-header>

<ion-content>
    <!-- <app-menu></app-menu> -->
  <div class="container-fluid confOrden">
    <ion-grid style="margin-top: 5%;">
        <h5 text-center style="font-size: 20px; color: #5C5B5B; margin-bottom: 5%;">Enviar a: </h5>
        <ion-row style="background-color: azure; margin-bottom: 5% !important;" class="container-fluid">
          <ion-col size="12">
              <ion-select placeholder="Seleccione una dirección" 
              okText="Okay" 
              cancelText="Cancelar"
              >
                <ion-select-option value="1">Calle 123</ion-select-option>
                <ion-select-option value="2">Avenida Siempreviva</ion-select-option>
                <ion-select-option value="3">Carrera 2</ion-select-option>
                <ion-select-option value="4">Diagonal 45</ion-select-option>
              </ion-select>
          </ion-col>
        </ion-row>
      <ion-row style="background-color: azure; margin-bottom: 5%;">
        <ion-col size="12">
          <ion-row>
            <ion-col size="10">
              <p style="font-size: 16px;">DIRECCIÓN DE ENVÍO</p>
            </ion-col>
            <ion-col size="2">
              <ion-button fill="clear" (click)="editDireccion()">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <p style="color: gray;">Madelaine Arno</p>
          <p style="color: gray;">6259 Monroe Street</p>
          <p style="color: gray;">Bakersfield, CA 93306</p>
        </ion-col>
      </ion-row>
      <ion-button class="btnNewaddress" 
                  (click)="newAddress()" 
                  style="width: 98% !important">
        NUEVA DIRECCIÓN
      </ion-button>
      <ion-button class="btnNewaddress" 
                  style="width: 98% !important"
                  (click)="selectHora()">
          SELECCIONAR HORARIO
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
