ion-content {
    --background: url('src/assets/img/fondo.png') no-repeat center center / cover !important;
}

ion-grid {
    background-color: #B8E1E4;
    padding-bottom: 5% !important;
    margin-bottom: 10% !important;

     h5 {
         margin-top: -0.5%;
     }

}

ion-col ion-button {
    --background: #F1F5F7;
    height: 100% !important;
    color: black !important;
    --color-activated: #000;
    --color-focused: #000;
    --color-hover: #000;
}

.btnHora {
    --background: #00A758;
    color: azure;
    font-size: 16px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

.btnNewaddress {
    --background: #00A758;
    color: azure;
    font-size: 16px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

