ion-content {
    --background: url('src/assets/img/fondo.png') no-repeat center center / cover !important;
}

ion-grid {
    background-color: #B8E1E4;
    padding-bottom: 5% !important;
    margin-bottom: 10% !important;

     h5 {
         margin-top: -0.5%;
     }

}

ion-col ion-button {
    --background: #F1F5F7;
    height: 100% !important;
    color: black !important;
    --color-activated: #000;
    --color-focused: #000;
    --color-hover: #000;
}

.btnNewaddress {
    --background: #00A758;
    color: azure;
    font-size: 16px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

ion-item {
    --background: transparent;
    // --background-activated: #3880ff
    // --background-focused: #3880ff;
    // --background-hover: #3880ff;
    // --border-color: #3880ff;
    // --border-radius: 8px;
    // --border-style: solid;
    // --border-width: 8px;
    // --box-shadow: 10px 10px;
    // --color: #ffffff;
    // --color-activated: #3880ff;
    // --color-focused: #3880ff;
    // --color-hover: #3880ff;
    // --detail-icon-color: #989aa2;
    // --detail-icon-font-size: 16px;
    // --detail-icon-opacity: 1;
    // --highlight-color-focused: #0cd1e8;
    // --highlight-color-invalid: #f04141;
    // --highlight-color-valid: #10dc60;
    // --highlight-height: 0px;
    // --inner-border-width: 0px;
    // --inner-box-shadow: 4px 4px;
    --inner-padding-bottom: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-top: 0px;
    // --min-height: auto;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px;
    // --transition: background-color 15ms linear;
}
