<app-header></app-header>

<ion-content>
    <!-- <app-menu></app-menu> -->
  <div class="container-fluid confOrden">
    <ion-grid style="margin-top: 5%;">
        <h5 text-center style="font-size: 20px; color: #5C5B5B; margin-bottom: 5%;">Así queda tu pedido</h5>
      <ion-row style="background-color: azure; margin-bottom: 5%;">
        <ion-col size="4" class="d-flex justify-content-center algin-items-center">
          <img src="../../../assets/img/Garrafoncopy2.png" height="107px" alt="garrafon" class="">
        </ion-col>
        <ion-col size="8">
          <p style="font-size: 16px;">Garrafón 20L</p>
          <p style="color: gray;">Cantidad: </p>
          <p style="margin-bottom: -3%; color: #2798F3;">$25</p>
        </ion-col>
        <!-- <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="create"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="close"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
        </ion-col> -->
      </ion-row>
      <ion-row style="background-color: azure;">
        <ion-col size="4" class="d-flex justify-content-center algin-items-center">
          <img src="../../../assets/img/Hielo5KgCopy 2.png" height="107px" alt="garrafon" class="">
        </ion-col>
        <ion-col size="8">
          <p style="font-size: 16px;">Bolsa de Hielo 5kg</p>
          <p style="color: gray;">Cantidad: </p>
          <p style="margin-bottom: -3%; color: #2798F3;">$30</p>
        </ion-col>
        <!-- <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="create"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="close"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
        </ion-col> -->
      </ion-row>
      <ion-row style="background-color: azure; margin-bottom: 5%; margin-top: 5%;">
        <ion-col size="12">
          <ion-row>
            <ion-col size="10">
              <p style="font-size: 16px; font-weight: bold;">DIRECCIÓN DE ENVÍO</p>
            </ion-col>
            <ion-col size="2">
              <!-- <ion-button fill="clear">
                <ion-icon name="create"></ion-icon>
              </ion-button> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p style="color: gray;">Madelaine Arno</p>
              <p style="color: gray;">6259 Monroe Street</p>
              <p style="color: gray;">Bakersfield, CA 93306</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 5%; background-color: azure">
        <ion-col size="12">
          <p style="position: left;">HORA</p>
          <div id="horaSeleccionada" class="hora d-flex justify-content-center algin-items-center">
            {{ horaFinal }}
          </div> <!-- En este punto se debe mostrar la hora seleccionada por el cliente-->
        </ion-col>
      </ion-row>
      <div class="precios" style="font-weight: bold !important;">
        <ion-row style="background-color: azure; margin-top: 5%;">
          <ion-col size="10">
            <small>Subtotal</small>
          </ion-col>
          <ion-col size="2">
            <p style="color: #2798F3; font-size: 16px;">$135</p>
          </ion-col>
        </ion-row>
        <ion-row style="background-color: azure;">
          <ion-col size="10"><p>TOTAL</p></ion-col>
          <ion-col size="2" style="color: #2798F3; font-size: 16px;"><p>$135</p></ion-col>
        </ion-row>
      </div>
      <ion-row style="margin-top: 3%;">
        <ion-col size="8"><p style="font-weight: bold;">¿Con cuánto vas a pagar?</p></ion-col>
        <ion-col style="background-color: azure; padding-left: 50px; margin-bottom: 5%; color: gray;" size="4">$200</ion-col>
      </ion-row>
      <ion-button routerLink="/recieved" class="btnConf" (click)="confirmarPedido()" style="width: 98% !important" fill="clear">
        CONFIRMAR ORDEN
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
