<ion-content text-center>
  <ion-grid fixed class="container-fluid" style="margin-top: 3%">
    <ion-row>
      <ion-col size="12">
        <form (ngSubmit)="register2( reg2 )" #reg2="ngForm" style="padding-top: 5%; padding-bottom: 5%;">
          <img src="assets/img/VectorSmartObject.png" width="120">
          <br>
          <h2 style="font-weight: bold;">Registra tu dirección</h2>
          <br>
          <div class="inputsRegistro container-fluid">
            <ion-input  type="text" 
                        name="dir1" 
                        placeholder="Dirección 1"
                        minlenght="2"
                        [(ngModel)]="user.direccion1"
                        required
                        #dir1>
            </ion-input>
            <ion-input  type="text" 
                        name="dir2"  
                        placeholder="Dirección 2"
                        minlenght="2"
                        [(ngModel)]="user.direccion2"
                        required
                        #dir2>
            </ion-input>
            <div class=" d-flex justify-content-center align-items-center" style="display: inline-block;">
              <ion-input  size="6" 
                          style="margin-right: 2%;" 
                          type="text" 
                          name="CP" 
                          placeholder="C.P."
                          minlenght="2"
                          [(ngModel)]="user.codigoPostal"
                          required
                          #postcode>
              </ion-input>
              <ion-input  size="6" 
                          style="margin-left: 2%;" 
                          type="text" 
                          name="poblacion" 
                          placeholder="Población"
                          minlenght="2"
                          [(ngModel)]="user.poblacion"
                          required
                          #poblacion>
              </ion-input>
            </div>
            <ion-input  type="text" 
                        name="referencia" 
                        placeholder="Referencia(Color casa, frente a negocio, etc)"
                        minlenght="2"
                        [(ngModel)]="user.referencia"
                        required
                        #ref>
            </ion-input>
          </div>
          <br>
          <h3 style=" font-weight: bold;">¿Son correctos los datos?</h3>
          <h4>Comprueba en el mapa que el marcador este correctamente ubicado</h4>
          <br>
          <div class="container-fluid">
            <div id="mapa"></div>
            <!-- <ion-img src="assets/img/Mapa.png"></ion-img>
            <br> -->
            <ion-button class="btnRegister" type="submit">
              Siguiente
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>