<ion-content text-center>
  <ion-grid fixed class="container-fluid" style="margin-top: 3%">
    <ion-row>
      <ion-col size="12">
        <form (ngSubmit)="register2( registroDireccion.value )" [formGroup]="registroDireccion" style="padding-top: 5%; padding-bottom: 5%;">
          <img src="assets/img/VectorSmartObject.png" width="120">
          <br>
          <h2 style="font-weight: bold;">Registra tu dirección</h2>
          <br>
          <div class="inputsRegistro container-fluid">
            <ion-input  type="text" 
                        name="direccion" 
                        placeholder="Dirección 1"
                        formControlName="direccion">
            </ion-input>
            <div class="validationErrors">
              <ng-container *ngFor="let validation of validationMessages.direccion">
                <div class="errorMessage" *ngIf="registroDireccion.get('direccion').hasError(validation.type)
                                                && (registroDireccion.get('direccion').dirty || registroDireccion.get('direccion').touched)" >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-input  type="text" 
                        name="direccion2"  
                        placeholder="Dirección 2"
                        formControlName="direccion2">
            </ion-input>
            <div class="validationErrors">
              <ng-container *ngFor="let validation of validationMessages.direccion2">
                <div class="errorMessage" *ngIf="registroDireccion.get('direccion2').hasError(validation.type) 
                                                && (registroDireccion.get('direccion2').dirty || registroDireccion.get('direccion2').touched)" >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-input  type="number" 
                        name="telefono" 
                        placeholder="Número Telefónico"
                        formControlName="telefono">
            </ion-input>
            <div class="validationErrors">
              <ng-container *ngFor="let validation of validationMessages.telefono">
                <div class="errorMessage" *ngIf="registroDireccion.get('telefono').hasError(validation.type) 
                                                && (registroDireccion.get('telefono').dirty || registroDireccion.get('telefono').touched)" >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <div class=" d-flex justify-content-center align-items-center" style="display: inline-block;">
              <ion-input  size="6" 
                          style="margin-right: 2%;" 
                          type="text" 
                          name="codigoPostal"
                          placeholder="C.P"
                          formControlName="codigoPostal">
              </ion-input>
              <ion-input  size="6" 
                          style="margin-left: 2%;" 
                          type="text" 
                          name="poblacion"
                          placeholder="Población"
                          formControlName="poblacion">
              </ion-input>
            </div>
            <div class=" d-flex justify-content-center align-items-center" style="display: inline-block;">
            <div class="validationErrors">
              <ng-container *ngFor="let validation of validationMessages.codigoPostal">
                <div class="errorMessage" *ngIf="registroDireccion.get('codigoPostal').hasError(validation.type) 
                                                && (registroDireccion.get('codigoPostal').dirty || registroDireccion.get('codigoPostal').touched)" >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <div class="validationErrors">
              <ng-container *ngFor="let validation of validationMessages.poblacion">
                <div class="errorMessage" *ngIf="registroDireccion.get('poblacion').hasError(validation.type) 
                                                && (registroDireccion.get('poblacion').dirty || registroDireccion.get('poblacion').touched)" >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
            <ion-input  type="text" 
                        name="referencia" 
                        placeholder="Referencia(Color casa, frente a negocio, etc)"
                        formControlName="referencia">
            </ion-input>
            <div class="validationErrors">
              <ng-container *ngFor="let validation of validationMessages.referencia">
                <div class="errorMessage" *ngIf="registroDireccion.get('referencia').hasError(validation.type) 
                                                && (registroDireccion.get('referencia').dirty || registroDireccion.get('referencia').touched)" >
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <br>
          <h3 style=" font-weight: bold;">¿Son correctos los datos?</h3>
          <h4>Comprueba en el mapa que el marcador este correctamente ubicado</h4>
          <br>
          <div class="container-fluid">
            <div id="mapa"></div>
            <!-- <ion-img src="assets/img/Mapa.png"></ion-img>
            <br> -->
            <ion-button class="btnRegister" type="submit" [disabled]="!registroDireccion.valid">
              Siguiente
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>