<app-header></app-header>
<ion-content text-center>
    <!-- <app-menu></app-menu> -->
    <!-- <ion-img src="assets/img/Grupo1.png"></ion-img> -->
    <h2 style="color: azure;">
        TIENDA DE PUNTOS
    </h2>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-img src="assets/img/Garrafon.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card color="light">
                    <ion-img src="assets/img/Galon3.7L.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Card Title</ion-card-title>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card color="light">
                    <ion-img src="assets/img/Botella500ML.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Card Title</ion-card-title>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card color="light">
                    <ion-img src="assets/img/Galon3.7L.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Card Title</ion-card-title>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card color="light">
                    <ion-img src="assets/img/Botella500ML.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title>Card Title</ion-card-title>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-img src="assets/img/PipaAgua.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-img src="assets/img/PipaAguacopy.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>