<ion-content>
  <div class="container-fluid">
    <div class="container-fluid d-flex justify-content-center align-items-center mt-2">
      <img src="../../../assets/img/Oasis_Logo.png" width="100px" height="125px" alt="">
    </div>
    <form (ngSubmit)="userForgot(forgot); forgot.reset()" #forgot="ngForm">
        <ion-list>
            <br>
            <ion-item>
                <ion-input  type="text" 
                            name="nombre" 
                            [(ngModel)]="usuario.usuario"
                            minlength="2"
                            required
                            #nombre
                            placeholder="Nombre de Usuario"
                            >
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input  type="email" 
                            name="email"
                            [(ngModel)]="usuario.email"
                            #email
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            required
                            placeholder="Correo electrónico"
                            >
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input  type="email" 
                            name="email2"
                            [(ngModel)]="usuario.email2"
                            #email2
                            required
                            placeholder="Confirmar correo electrónico"
                            >
            </ion-input>
        </ion-item>
        <ion-label *ngIf="email.value != email2.value" style="color: red; margin-top: 3%; font-size: 12px">El correo no es igual</ion-label>
        <br><br>
        </ion-list>
        <!-- <label style="color: red;" *ngIf="!register.valid" ><small>Luego de registrarse el Admin se pondra en contacto con usted</small></label> -->
        <br><br>
        <div class="container-fluid d-flex justify-content-center align-items-center">          
          <ion-button type="submit" class="btnTerminar">
              <ion-label color="light">Terminar</ion-label>
          </ion-button>
        </div>
    </form>
  </div>
</ion-content>
