ion-content {
    --background: url('src/assets/img/AGUA.png') no-repeat center center / cover !important;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

ion-row ion-col ion-button {
    width: 98% !important;
    --background: #00A455;
    height: 50px !important;
    --color: azure !important;
    border: solid 1px azure;
    box-shadow: 5px 5px 20px black;

    ion-icon {
        position: absolute;
        left: 20px;
    }
}