<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="MiMenu" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <img src="../../../assets/img/Oasis_Logo.png" width="64px" height="64px" alt="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-menu></app-menu>
  <div class="container-fluid confOrden">
    <ion-grid style="margin-top: 5%;">
        <h5 text-center style="font-size: 20px; color: #5C5B5B; margin-bottom: 5%;">Confirma tu orden</h5>
      <ion-row style="background-color: azure; margin-bottom: 5%;">
        <ion-col size="4" class="d-flex justify-content-center algin-items-center">
          <img src="../../../assets/img/Garrafoncopy2.png" height="107px" alt="garrafon" class="img-fluid">
        </ion-col>
        <ion-col size="5">
          <p style="font-size: 16px;">Garrafón 20L</p>
          <p style="color: gray;">Cantidad {{numero}}</p>
          <p style="margin-bottom: -3%; color: #2798F3;">$25</p>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="create"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="close"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: azure;">
        <ion-col size="4" class="d-flex justify-content-center algin-items-center">
          <img src="../../../assets/img/Hielo5KgCopy 2.png" height="107px" alt="garrafon" class="img-fluid">
        </ion-col>
        <ion-col size="5">
          <p style="font-size: 16px;">Bolsa de Hielo 5kg</p>
          <p style="color: gray;">Cantidad {{numero}}</p>
          <p style="margin-bottom: -3%; color: #2798F3;">$30</p>
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="create"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button fill="clear">
                <ion-icon size="large" name="close"></ion-icon>
             </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div class="precios" style="font-weight: bold !important;">
        <ion-row style="background-color: azure; margin-top: 5%;">
          <ion-col size="10">
            <small>Subtotal</small>
          </ion-col>
          <ion-col size="2">
            <p style="color: #2798F3; font-size: 16px;">$135</p>
          </ion-col>
        </ion-row>
        <ion-row style="background-color: azure;">
          <ion-col size="10"><p>TOTAL</p></ion-col>
          <ion-col size="2" style="color: #2798F3; font-size: 16px;"><p>$135</p></ion-col>
        </ion-row>
      </div>
      <ion-row style="margin-top: 3%;">
        <ion-col size="8"><p style="font-weight: bold;">¿Con cuánto vas a pagar?</p></ion-col>
        <ion-col style="background-color: azure; padding-left: 50px; margin-bottom: 5%; color: gray;" size="4">$200</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-button class="btnConf" routerLink="/" style="width: 98% !important" fill="clear">
            <ion-icon size="large" name="rewind"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button class="btnConf" (click)="confirmarPedido()" style="width: 98% !important" fill="clear">
            CONFIRMAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
