<ion-content>
  <form #loginP="ngForm" text-center style="padding-top: 60%">
      <h2 style="color: azure;">¡Bienvenido!, ingresa a tu cuenta</h2>
    <ion-button class="btnGoogle" color="blancoLogin">
      <img src="assets\img\googleIcon.png" width="30">
      <ion-label style="margin-left: 10px; color: black;">Ingresa con tu cuenta de google</ion-label>
    </ion-button>
    <br><br>
    <div class="container-fluid">
      <ion-input  type="text" 
                  placeholder="correo@correo.com"
                  [(ngModel)]="user.email"
                  name="mail"
                  required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  #mail>
      </ion-input>
      <!-- <ion-label *ngIf="user.email != this.mail|| user.password != pass" style="color: red; padding-left: 20px;"><small>*El correo no está registrado o no es correcto</small></ion-label> -->
      <ion-input  type="password" 
                  placeholder="Contraseña"
                  [(ngModel)]="user.password"
                  name="pass"
                  required
                  minlength="2"
                  #pass>
      </ion-input>
      <!-- <ion-label *ngIf="user.email != user.email || user.password != user.password" style="color: red; padding-left: 20px"><small>*La contraseña no es correcta</small></ion-label> -->
    </div>
    <ion-button class="btnRegistro" color="verdeRegistro" (click)="login(loginP); loginP.reset">
      Ingresar
    </ion-button>
    <br><br>
    <div class="d-flex justify-content-center align-items-center">
      <ion-checkbox color="secondary" style="margin-right: 10px;"></ion-checkbox>
      <ion-label style="color: azure; margin-right: 30px;">
      Recuérdame
      </ion-label>
    <a style="text-decoration: none;" routerLink="/forgot-password">
      <ion-label style="color: azure;"> Recuperar contraseña </ion-label>
    </a>
    </div>
    <br><br>
    <div>
      <a style="text-decoration: none;" routerLink="/register">
        <ion-label style="color: azure;"> ¿No tienes una cuenta? <b>Registrate aquí</b></ion-label>
      </a>
    </div>
  </form>
  <br><br><br>
  <ion-label style="color: azure;"><small>Powered By: CodeScriters&copy; <_ </small> </ion-label> </ion-content>