ion-content {
    --background: url('../../../assets/img/Oasis_Splash_Register.png') no-repeat center center / cover !important;
    form {
        margin-top: 50%;
    }
    ion-label a {
        color: white !important;
        text-decoration: none !important;
        font-family: 'Roboto', sans-serif;
    }
}

ion-input {
    --background: #fff;
    --color: #000;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    margin-bottom: 10px;
    --padding-top: 10px;
    --placeholder-color: #000;
    --placeholder-font-style: initial
    --placeholder-font-weight initial
    --placeholder-opacity 0.5
}

.btnRegister {
    --background: #00A758; 
    color: white;
    height: 44px;
    width: 98% !important;
    text-transform: capitalize !important; 
    font-family: 'Roboto', sans-serif;
}

.errorMessage {
    color: red; 
    font-size: 12px; 
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0;
	}
}