<ion-content>
  <form action="" class="container-fluid">
    <div class="text-center" style="margin-bottom: 3%;">
      <ion-label text-center style="font-family: 'Roboto', sans-serif; color: white;">¡Bienvenido!, por favor regístrate</ion-label><br>
      <ion-label style="font-family: 'Roboto', sans-serif; color: white;"><small>¿Ya tienes una cuenta? <a routerLink="/login" style="font-weight: bold;">Ingresa aquí</a></small></ion-label>
    </div>
    <div class="inputsRegistro">
      <ion-input  type="text" 
                  name="nombre" 
                  placeholder="Nombre completo">
      </ion-input>
      <ion-input  type="text" 
                  name="user" 
                  placeholder="Usuario">
      </ion-input>
      <ion-input  type="email" 
                  name="mail" 
                  placeholder="Correo electrónico"
                  email>
      </ion-input>
      <ion-input  type="password" 
                  name="pass" 
                  placeholder="Contraseña"
                  password
                  minLenght="6">
      </ion-input>
      <ion-input  type="password" 
                  name="pass" 
                  placeholder="Confirma tu Contraseña"
                  password
                  minLenght="6">
      </ion-input>
    </div>
    <div (click)="register()" class="d-flex justify-content-center" style="background-color: #00A758; color: white;
                                                      border: black solid 0.5px; height: 44px;">
      <ion-buttons>
        <ion-button style=" text-transform: capitalize !important; font-family: 'Roboto', sans-serif;">
          Siguiente
        </ion-button>
      </ion-buttons>
    </div>
  </form>
  <div class="container-fluid text-center" style="color: white !important;">
    <ion-label><small>By clicking Create An Account, yo agree <br>to our <a href="" style="font-weight: bold;">Term of Services</a></small></ion-label>
  </div>
</ion-content>
