<ion-content>

    <form text-center style="margin-top: 100%">
      <ion-button class="btnGoogle" color="blancoLogin">
        <ion-icon name="logo-google"></ion-icon>
        <ion-label style="margin-left: 10px; color: black;" >Ingresa con tu cuenta de google</ion-label>
      </ion-button>
      <br><br>
      <ion-button class="btnRegistro" color="verdeRegistro" routerLink="/register">
        Registrate
      </ion-button>
      <br><br><br>
      <div>
        <!-- <a href="" style="text-decoration: none;"> -->
        <ion-label style="color: azure;"> ¿Ya tienes una cuenta? <a style="text-decoration: none !important; color: azure; font-weight: bold;" routerLink="/login">Ingresa aquí</a></ion-label>
        <!-- </a> -->
      </div>
    </form>
    
    <br><br><br>
    <ion-label style="color: azure;"><small>Powered By: CodeScriters&copy; <_ </small> </ion-label>
    </ion-content>