// ion-content {
//     --background: url('src/assets/img/Oasis_Splash_Register.png') no-repeat center center / cover !important;
// }

ion-col img {
    box-shadow: 5px 5px 20px black;
    border-radius: 50%;
    border-style: none;
    border: none;
}

ion-button {
    --background: #0376CB;
    --color: azure;
}