<ion-content text-center>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <img src="../../../assets/img/Oasis_Logo.png" width="100px" height="125px" alt="">
  </div>
  <h5 style="margin-top: 10%; margin-bottom: 10%; font-size: 24px; font-weight: bold;">¡Contáctanos!</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/img/phone_contact.svg" width="128px" height="128px" alt="">
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/img/whatsapp_contact.svg" width="128px" height="128px" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img src="../../../assets/img/facebook_contact.svg" width="128px" height="128px" alt="">
      </ion-col>
      <ion-col size="6">
        <img src="../../../assets/img/twitter_contact.svg" width="128px" height="128px" alt="">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%">
      <ion-col size="12">
        <ion-button routerLink="/home-store">
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          Volver
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
