// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.picker-opt-selected {
    border-top: black solid 1px !important;
    border-bottom: black solid 1px !important;
    color: black !important;
    font-size: 28px !important;
}

.picker-opt {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
}

.btnCancel {
    margin-right: 150px !important;
}

@media (min-width: 400px) {
    .btnCancel {
        margin-right: 200px !important;
    }
}

ion-menu-controller {
    display: block !important;
    visibility: visible !important;
    .hydrated {
        display: block !important;
        visibility: visible !important;
    }
}