ion-content {
    --background: url('src/assets/img/Oasis_Splash_Home.png') no-repeat center center / cover !important;
}

.btnGoogle{
    background-color: azure !important;
    color: black !important;
    width: 93% !important;
}

.btnRegistro{
    color: white !important;
    width: 93% !important;
}

    

